:root {
  --primary-color: #ffffff;
  --secondary-color: #511e08;
  --accent-main: #ffeb3b;
}

/* Fonts */
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Bai+Jamjuree:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,200;1,300;1,400;1,500;1,600;1,700&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  font-family: "Poppins", sans-serif;
  background-color: var(--primary-color);
  color: var(--secondary-color);
}

.container {
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
}
.font-special {
  font-family: "Bai Jamjuree", sans-serif;
}

.cursor-dot {
  width: 5px;
  height: 5px;
  background-color: var(--primary-color);
  z-index: 999999;
}
.cursor-outline {
  width: 30px;
  height: 30px;
  border: 1px solid var(--accent-main);
  background-color: var(--accent-main);
  z-index: 99999;
}
.cursor-dot,
.cursor-outline {
  position: fixed;
  top: 0;
  left: 0;
  transform: translate(-50%, -50%);
  border-radius: 50%;

  pointer-events: none;
}

.grow {
  transform: scale(3);
  //background: transparent;
  mix-blend-mode: difference;
}

.cover {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  max-width: 100vw;
  height: 0;
  max-height: 100vh;
  background: var(--primary-color);
  z-index: 999;
}

.overlay-menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  max-width: 100vw;
  height: 100vh;
  max-height: 100vh;
  background: var(--secondary-color);
  z-index: 9999;
  overflow: hidden;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  .container {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .overlay-links {
      display: flex;
      flex-direction: column;
      align-items: center;
      a {
        width: fit-content;
        height: auto;
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 1em 0;
        color: var(--primary-color);
        opacity: 0;
        transition: all 0.3s ease-in;
      }
    }
  }
}

#ripple-area {
  width: 100vw;
  height: 100%;
  background: url("../images/overlay\ torn\ texture.png") center no-repeat;
  background-size: cover;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  opacity: 0.2;
}

/* Home page background images */
.pulse-image {
  filter: grayscale(100%);
  transition: filter 0.3s ease;
}
.nairobi-cbd {
  width: 56%;
  height: 100%;
  object-fit: fill;
  object-position: left center;
  z-index: 1;
}
.nairobi-highway {
  width: 45%;
  height: 100%;
  object-fit: fill;
}
.woman-farming {
  top: 0;
  left: 50%;
  width: auto;
  height: 180px;
  object-fit: fill;
  z-index: 4;
  filter: grayscale(1);
}
.africa-map {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: auto;
  height: 90%;
  object-fit: fill;
  z-index: 1;
  filter: grayscale(1);
}
.torn-bottom-paper {
  bottom: 0;
  left: 0;
  width: 100%;
  height: auto;
  object-fit: fill;
  z-index: 5;
}
.africa-nature {
  bottom: 0;
  left: 0;
  width: 55%;
  height: auto;
  object-fit: fill;
  z-index: 3;
  filter: grayscale(1);
}
.elephants {
  bottom: 0;
  left: 25%;
  width: auto;
  height: 150px;
  object-fit: fill;
  z-index: 5;
  filter: grayscale(1);
}
.maasai {
  bottom: 17%;
  left: 20%;
  width: auto;
  height: 100px;
  object-fit: fill;
  z-index: 2;
  filter: grayscale(1);
}
.african-rocks {
  bottom: 0;
  right: 0;
  width: 40%;
  height: auto;
  object-fit: fill;
  z-index: 3;
  filter: grayscale(1);
}
.africa-people {
  bottom: 0;
  right: 37%;
  width: auto;
  height: 160px;
  object-fit: fill;
  z-index: 4;
  filter: grayscale(1);
}
.torn-paper-top-right {
  top: 0;
  right: 0;
  width: auto;
  height: 170px;
  object-fit: fill;
  z-index: 2;
  filter: grayscale(1);
}
.ripped-paper {
  top: 0;
  right: 0;
  width: 20%;
  height: auto;
  object-fit: fill;
  z-index: 1;
  filter: grayscale(1);
}
.tree-land {
  bottom: 0;
  right: 0;
  width: 46%;
  height: auto;
  max-height: 220px;
  object-fit: fill;
  z-index: 3;
  filter: grayscale(1);
}
.women-farming {
  bottom: 36%;
  right: 0;
  width: auto;
  height: 120px;
  object-fit: fill;
  z-index: 2;
  filter: grayscale(1);
}
.wangari-maathai {
  bottom: 29%;
  right: 17%;
  width: auto;
  height: 200px;
  object-fit: fill;
  z-index: 2;
  filter: grayscale(100%);
  transition: filter 0.3s ease;
}
.eluid-text {
  display: none;
  bottom: 58.7%;
  right: 15%;
  width: auto;
  height: 90px;
  object-fit: fill;
  z-index: 1;
}

.center-piece {
  .mzee-jomo {
    top: 3em;
    left: -4em;
    width: 200px;
    height: auto;
    object-fit: fill;
    filter: grayscale(1);
  }
  p {
    font-size: 14px;
  }
}

/* Pulse animation class from Animate.css */
.animate__pulse-infinite {
  animation: pulse 2s infinite;
}

/* Media Queries */
@media (max-width: 768px) {
  .wangari-maathai {
    bottom: 0;
    right: 0;
    width: auto;
    height: 140px;
    object-fit: fill;
    z-index: 3;
  }
  .eluid-text {
    bottom: 135px;
    right: 5%;
    width: auto;
    height: 60px;
    object-fit: fill;
    z-index: 4;
  }
  .africa-people {
    bottom: 0;
    right: 43%;
    width: auto;
    height: 120px;
    object-fit: fill;
    z-index: 4;
    filter: grayscale(1);
  }
  .elephants {
    bottom: 0;
    left: 0;
    height: 100px;
    object-fit: fill;
  }
  .maasai {
    bottom: 10%;
    left: 13%;
    height: 100px;
    object-fit: fill;
    z-index: 1;
  }
  .women-farming {
    display: none;
  }
  .torn-paper-top-right {
    height: 100px;
    object-fit: fill;
  }
  .woman-farming {
    top: 25vh;
    left: 50%;
    width: auto;
    height: 140px;
  }
  .africa-map {
    width: auto;
    width: 100%;
    height: auto;
    object-fit: fill;
  }
  .nairobi-cbd {
    object-fit: cover;
    object-position: left center;
  }
  .nairobi-highway {
    object-fit: cover;
  }
  .center-piece {
    .mzee-jomo {
      top: 3em;
      left: -4em;
      width: 200px;
      height: auto;
      object-fit: fill;
      filter: grayscale(1);
    }
    p {
      font-size: 9px;
    }
  }
}
